.page-header {
  @media (max-width: @tablet-width - 1px) {
    border-bottom: @border-header;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;

    &--index {
      padding-top: 53px;
      background-image: linear-gradient(to right, transparent 50%, @green-background 50%);
    }
  }
}

.page-header__nav {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}
