// font
@font-family-title: "Oswald", "Arial", sans-serif;
@font-family-text: "Arial", sans-serif;

//color
@white: #ffffff;
@black: #000000;
@green: #68B738;

@dark-grey-backleft: #504F55;
@dark-grey-backright: #434248;
@dark-grey-background-desktop: #4F5055;

@green-background: rgba(104, 183, 56, 0.85);

//border
@border-header: 1px solid #E6E6E6;
//border-header-nav-link
@border-current-tablet: 2px solid #68B738;
@border-current-desktop: 2px solid #FFFFFF;

// viewports
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
