// font
@font-family-title: "Oswald", "Arial", sans-serif;
@font-family-text: "Arial", sans-serif;

//color
@white: #ffffff;
@black: #000000;

// viewports
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
